.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 14px 10px 42px;
  width: 350px;
  height: 48px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 767px) {
    width: 100%;
  }

}

.icon {
  position: absolute;
  width: 22px;
  height: 22px;
  opacity: 0.3;
  left: 14px;
  top: 13px;
}

.clearIcon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  right: 10px;
  top: 13px;
  cursor: pointer;
  transition: opacity .3s ease;

  &:hover {
    opacity: 0.6;
  }
}
